<nav class="navbar">
    <div class="logo">
        <i class="fa fa-play-circle"></i>
        <a href="/index.html" class="active">MediaTrack</a> 
    </div>

    <ul class="nav-links">
        <li><a href="/index.html" class="active">Home</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="/pages/auth/signup.html">Sign Up</a></li>
        <li><a href="/pages/auth/login.html">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> Log In
        </a></li>
    </ul>

    <div class="nav-actions">
        <div class="search-wrapper">
            <input type="text" placeholder="Search media...">
            <i class="fa fa-search"></i>
        </div>

        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-user-circle"></i> You <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/pages/user/dashboard.html">Profile</a>
                <a href="#">Settings</a>
                <a href="#">Preferences</a>
                <hr>
                <a href="#" class="logout">Log Out</a>
            </div>
        </div>
    </div>
</nav>
