
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dropdown{    
    position: relative;
    display: inline-block;

}
nav ul li a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover{
    background-color: #f0f0f0;
    color: #007BFF;
    border-radius: 5px;
}
nav{
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}